<% include partials/header2 %>



<div class='minute-date'><%= idea.date %></div>
<div class='minute-date'><%= idea.subject %></div>
<div class='minute-date'><%= idea.author %></div>
<div class='minute-date'><%= idea.email %></div>
<div class='minute-date'>Anounymous: <%= idea.anonymous %></div>
<p class='minute-text'><%= idea.content %></p>



<% include partials/footer %>